In [1]:
record = ('ACME', 50, 123.45, (12, 18, 2012))
name, *_,(*_,year) = record
year

2012

In [2]:
items = [1, 10, 7, 4, 5, 9]
def sum_list(list):
    head,*tail = list
    return head + sum_list(tail) if tail else head

In [4]:
sum_list(items)

36

In [8]:
from collections import deque
def search(lines,pattern,history):
    previous_lines = deque(maxlen=history)
    for line in lines:
        if pattern in line:
            yield (line,previous_lines)
        previous_lines.append(line)

In [10]:
with open("./python_cookbook/somefile.txt") as f:
    for line,previous_lines in search(f,'python',5):
        for pline in previous_lines:
            print(pline, end='')
        print(line, end='')
        print('-'*20)

Keeping a limited history is a perfect use for a `collections.deque`.
For example, the following code performs a simple text match on a
sequence of lines and prints the matching line along with the previous
N lines of context when found:

[source,python]
--------------------
        previous_lines.append(line)

# Example use on a file
if __name__ == '__main__':
    with open('somefile.txt') as f:
         search(f, 'python', 5)
--------------------

In [16]:
from collections import deque
def search(list,min,history=3):
    lists = deque(maxlen=history)
    for num in list:
        if num > min:
            lists.append(num)
    return lists

In [25]:
list(search(items,1))

[4, 5, 9]

In [12]:
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3,nums))
print(heapq.nsmallest(3,nums,key=lambda k:k))

[42, 37, 23]
[-4, 1, 2]

In [45]:
portfolio = [{'name': 'IBM', 'shares': 100, 'price': 91.1}, 
    {'name': 'AAPL', 'shares': 50, 'price': 543.22}, 
    {'name': 'FB', 'shares': 200, 'price': 21.09}, 
    {'name': 'HPQ', 'shares': 35, 'price': 31.75}, 
    {'name': 'YHOO', 'shares': 45, 'price': 16.35}, 
    {'name': 'ACME', 'shares': 75, 'price': 115.65}
]
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price']) 
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])
print(cheap)

[{'name': 'YHOO', 'price': 16.35, 'shares': 45}, {'name': 'FB', 'price': 21.09, 'shares': 200}, {'name': 'HPQ', 'price': 31.75, 'shares': 35}]

In [47]:
heapq.heapify(nums)
nums

[-4, 2, 1, 23, 7, 2, 18, 23, 42, 37, 8]

In [49]:
from collections import defaultdict
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['a']

[1, 2]

In [51]:
from collections import OrderedDict
o = OrderedDict()
o['foo'] = 1
o['bar'] = 2
import json
json.dumps(o)

'{"foo": 1, "bar": 2}'

In [52]:
prices = { 'AAA' : 45.23, 'ZZZ': 45.23 }
min(zip(prices.values(), prices.keys()))

(45.23, 'AAA')

In [53]:
a={
'x' : 1,
'y' : 2,
'z' : 3 }
b={
'w' : 10,
'x' : 11,
'y' : 2 }

In [54]:
a.keys() & b.keys()

{'x', 'y'}

In [55]:
a.keys() - b.keys()

{'z'}

In [56]:
a.items() & b.items()

{('y', 2)}

In [57]:
{key:a[key] for key in a.keys() - {'z', 'w'}}

{'x': 1, 'y': 2}

In [61]:
a = [1, 5, 2, 1, 9, 1, 5, 10]
def dedupe(items): 
    seen = set()
    for item in items:
        if item not in seen:
            yield item 
            seen.add(item)
list(dedupe(a))

[1, 5, 2, 9, 10]

In [62]:
def dedupe(items, key=None): 
    seen = set()
    for item in items:
        val = item if key is None else key(item) 
        if val not in seen:
            yield item 
        seen.add(val)
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
list(dedupe(a, key=lambda d: (d['x'],d['y'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]

In [64]:
record = '....................100 .......513.25 ..........'
SHARES = slice(20, 23)
PRICE = slice(31, 37)
cost = int(record[SHARES]) * float(record[PRICE])
cost

51325.0

In [2]:
sli = slice(1,60,2)
a = "I am the best"
sli.indices(len(a))

(1, 13, 2)

In [3]:
a = [1, 5, 2, 1, 9, 1, 5, 10]
from collections import Counter
Counter(a).most_common(3)

[(1, 3), (5, 2), (2, 1)]

In [68]:
from operator import itemgetter
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, 
    {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, 
    {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, 
    {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]
rows_by_name = sorted(rows,key=itemgetter('lname','fname'))
rows_by_name

[{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
 {'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
 {'fname': 'Big', 'lname': 'Jones', 'uid': 1004},
 {'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}]

In [69]:
max(rows,key=itemgetter('uid'))

{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}

In [71]:
from operator import attrgetter
class User:
    def __init__(self, user_id):
        self.user_id = user_id 
    def __repr__(self):
        return 'User({})'.format(self.user_id)
users = [User(23), User(3), User(99)]
sorted(users,key=attrgetter('user_id'))

[User(3), User(23), User(99)]

In [74]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
    {'address': '5148 N CLARK', 'date': '07/04/2012'}, 
    {'address': '5800 E 58TH', 'date': '07/02/2012'}, 
    {'address': '2122 N CLARK', 'date': '07/03/2012'}, 
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}, 
    {'address': '1060 W ADDISON', 'date': '07/02/2012'}, 
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'}, 
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}, ]

In [75]:
from operator import itemgetter
from itertools import groupby
rows.sort(key=itemgetter('date'))
for date,items in groupby(rows,key=itemgetter('date')):
    print(date)
    for item in items:
        print(item)

07/01/2012
{'address': '5412 N CLARK', 'date': '07/01/2012'}
{'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
{'address': '5800 E 58TH', 'date': '07/02/2012'}
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
{'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
{'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
{'address': '5148 N CLARK', 'date': '07/04/2012'}
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'}

In [77]:
values = ['1', '2', '-3', '-', '4', 'N/A', '5']
def is_int(val):
    try:
        x = int(val)
        return True
    except ValueError:
        return False
list(filter(is_int,values))

['1', '2', '-3', '4', '5']

In [79]:
addresses = [ '5412 N CLARK',
              '5148 N CLARK', 
              '5800 E 58TH', 
              '2122 N CLARK'
              '5645 N RAVENSWOOD', 
              '1060 W ADDISON', 
              '4801 N BROADWAY',
              '1039 W GRANVILLE', ]
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]

from itertools import compress
more5 = [n>5 for n in counts]
list(compress(addresses,more5))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

In [80]:
from collections import namedtuple
Sub = namedtuple('Sub',['addr','joined'])
sub = Sub('jonesy@example.com', '2012-10-19')
sub

Sub(addr='jonesy@example.com', joined='2012-10-19')

In [81]:
sub._replace(addr=1)

Sub(addr=1, joined='2012-10-19')

In [82]:
from collections import namedtuple
Stock = namedtuple('Stock', ['name', 'shares', 'price', 'date', 'time'])
stock_prototype = Stock('', 0, 0.0, None, None)
def dict_to_stock(s):
    return stock_prototype._replace(**s)
a = {'name': 'ACME', 'shares': 100, 'price': 123.45}
dict_to_stock(a)

Stock(name='ACME', shares=100, price=123.45, date=None, time=None)

In [1]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003}, 
    {'fname': 'David', 'lname': 'Beazley', 'uid': 1002}, 
    {'fname': 'John', 'lname': 'Cleese', 'uid': 1001}, 
    {'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]
min(rows,key=lambda s:s['uid'])

{'fname': 'John', 'lname': 'Cleese', 'uid': 1001}

In [7]:
from collections import ChainMap
a={
'x' : 1,
'y' : 2,
'z' : 3 }
b={
'w' : 10,
'x' : 11,
'y' : 2 }
values = ChainMap(a,b)
values

ChainMap({'y': 2, 'x': 1, 'z': 3}, {'y': 2, 'x': 11, 'w': 10})

In [16]:
v = dict(a)
v.update(b)
v

{'w': 10, 'x': 11, 'y': 2, 'z': 3}